//Import jviz
@import "{JVIZ_MODULES}jviz/scss/all";

//Coverviwer class
.jviz-modules-coverviewer
{
  //Style
  display: block; width: 100%;

  //Samples table styñe
  &-table
  {
    //Style
    display: block; width: 100%; height: 100px; overflow: auto;

    //Font
    @include jviz-font; font-size: 14px; color: $jviz-navy-3;

    //Margin
    margin: { top: 5px; bottom: 0px; }

    //Table row
    &-row { display: block; width: 100%; }

    //Table cell
    &-cell
    {
      //Style
      display: inline-block; width: calc(25% - 30px); transition: all 0.3s; height: 20px;

      //Background
      background-color: $jviz-navy-4;

      //Text
      font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: $jviz-white; line-height: 20px;

      //Border
      border-radius: 5px;

      //Padding
      padding: { top: 10px; bottom: 10px; left: 10px; right: 10px; }

      //Margin
      margin: { top: 5px; bottom: 5px; left: 5px; right: 5px; }

      //Cell hover
      &:hover { cursor: pointer; }
    }
  }
}
